body {
    margin: 0;
    color: #f5f5f5;
    background: #12101d;
    font-family: "Segoe UI", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 20rem;
}

.logo, .right {
    width: 10rem;
}
.right {
    display: flex;
    justify-content: flex-end;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.logo img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}
.logo b {
    font-size: 1.5rem;
}

.options a {
    opacity: 0.8;
}
.options a.active {
    opacity: 1;
    border-bottom: 1px solid #fff;
}


#container {
    margin: 0 20rem;
    margin-top: 5rem;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.hero h1 {
    margin: 0;
    font-size: 5rem;
}

.hero p {
    opacity: 0.8;
}