<html>
    <head>
        <title>OnionChat</title>
        <link rel="icon" href="/static/img/OnionChat.webp">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <nav>
            <div class="logo">
                <img src="/static/img/OnionChat.webp">
                <b>OnionChat</b>
            </div>
            <div class="options">
                <a class="active">Home</a>
            </div>
            <div class="right">
                <a>Get Started</a>
            </div>
        </nav>

        <section id="container">
            <div class="hero">
                <h1>OnionChat</h1>
                <p>One of the best onion chat apps out there!</p>
            </div>
        </section>
    </body>
</html>